{
  "last_reminder": 1787724302805,
  "cached_at": 1787724288369,
  "version": "6.19.3",
  "cli_path": "/workspace/backend/node_modules/.bin/prisma",
  "output": {
    "product": "prisma",
    "previous_version": "6.19.3",
    "checkpoint_version": 4,
    "local_timestamp_without_timezone": "2026-08-26T06:04:47Z",
    "current_version": "8.0.0-rc.10",
    "current_release_date": 1787655344,
    "client_event_id": "66fd0cf5-a701-4068-957c-05e81e348331",
    "current_download_url": "https://github.com/prisma/prisma",
    "package": "prisma",
    "release_tag": "latest",
    "install_command": "npm install --save-dev prisma",
    "schema_providers": [
      "postgresql"
    ],
    "schema_preview_features": [],
    "schema_generators_providers": [
      "prisma-client-js"
    ],
    "current_changelog_url": "https://github.com/prisma/prism